@font-face {
    font-family: 'Helvetica Now', sans-serif;
    src: url('../fonts/HelveticaNowDisplay-Regular_2153738425.otf'),
    format('opentype');
}
@font-face {
    font-family: 'Helvetica Now';
    src: url('../fonts/HelveticaNowDisplay-Blk_1248022012.otf'),
    format('opentype');
    font-weight: bold;
}
.Header {
    align-items: center;
    background-color: lightslategrey;
    display: flex;
    flex-flow: row wrap;
    
    height: 100px;
    justify-content: space-around;
    width: 100%;
}

.Header h1 {
    font-family: 'Helvetica Now', sans-serif;
    font-weight: bold;
    flex-basis: 100%;
    text-align: center;
}

.Header h4 {
    font-family: 'Helvetica Now', sans-serif;
    font-size: 1.3rem;
}